body,html{

	display: grid;
	margin: 0px;
	padding: 0px;
	background-color: #004466;
}

h1{
	margin: 0px ;
	padding: 10px;
	background-color: #00eeff;
}

.nw{
		padding: 5px;
		background-color: lemonchiffon;
}